@model ShopArtApp.Models.Command

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Command</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCommand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCommand)
        </dd>
        <dt class = "col-sm-2">
            
        </dt>
        <dd class = "col-sm-10">
           
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCommand">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
